* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f9fafc;
}
.nav {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: whitesmoke;
  height: 60px;
  padding: 0 20px;
}
.btn .active {
  background-color: blue;
  color: white;
  height: 35px;
  width: 100px;
  border-radius: 8px;
  font-size: 18px;
  font-style: bold;
  margin: 0px 15px 0px 0px;
  border: 2px solid blue;
  text-decoration: none;
}
.btn .active a {
  text-decoration: none;
  color: white;
}
.btn .inactive a {
  text-decoration: none;
  color: black;
}
.btn .inactive {
  background-color: rgb(216, 204, 204);
  color: rgb(252, 243, 243);
  color: black;
  height: 35px;
  width: 110px;
  border-radius: 8px;
  font-size: 18px;
  font-style: bold;
  margin: 0px 15px 0px 0px;
  border: none;
  font-style: bold;
}

.form {
  max-width: 800px;
  width: 95%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form .inputs1,
.form .inputs2 {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

input,
textarea {
  background-color: whitesmoke;
  border: 1px solid #ddd;
  width: 100%;
  border-radius: 8px;
  padding: 10px;
  font-size: 16px;
}

.form button {
  background-color: blue;
  color: white;
  height: 50px;
  border-radius: 8px;
  font-size: 18px;
  border: none;
  cursor: pointer;
}
.form button:hover {
  background-color: darkblue;
}

.input-wrapper {
  position: relative;
  width: 100%;
}

.email-icon {
  position: absolute;
  right: 10px;
  top: 30px;
  pointer-events: none;
}

.dash {
  margin-top: 35px;
  /* position: relative; */
  /* position: absolute; */
  top: 80px;
  left: 45px;
}

.cards {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

.card {
  height: 110px;
  width: 350px;

  margin-top: 30px;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 25px;
  font-weight: 200;
  color: rgb(134, 133, 133);
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

#card1 {
  border-left: 6px solid rgb(8, 102, 139);
}
#card2 {
  border-left: 6px solid rgb(245, 245, 44);
}
#card3 {
  border-left: 6px solid green;
}
#card4 {
  border-left: 6px solid red;
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    height: auto;
    padding: 10px;
    gap: 10px;
  }

  .btn {
    display: flex;
    gap: 10px;
  }

  .form {
    margin: 20px auto;
  }

  .btn .active,
  .btn .inactive {
    width: 100px;
    font-size: 14px;
  }
}
